<html>
    <head>
        <title>search</title>
    </head>
    <body>
        <form action="/books" method="GET">
            <div>
              <label>BLOOD TYPE</label>
              <input type="text" name="bloodgroup" value="<%= searchOptions.bloodgroup %>">
            </div>
            <button type="submit">Search</button>
    </form>
    </body>
</html>